body {
    background-color: #ebc8d1;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #6B1F33;
}

.Logo {
    display: flex;
    justify-content: center;
}

  .row1 {
    display: grid;
    max-width: 91.53rem;
    margin:auto;
    grid-template-columns: repeat(3, 1fr);
  }

  .row2 {
    display: grid;
    max-width: 91.53rem;
    margin:auto;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .img {
    flex: 30.33%;
    padding: 5px;
    max-width: 50rem;
    margin: 4 auto;
    padding: 2rem;
    border-radius: 9px;
    display:flex;
  }

.footer {
    width: 99.7%;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.topnav {
    background-color: #6F2035;
    overflow: hidden;
    padding: 1rem;
    border-radius: 2rem;
}

.topnav a {
    float: center;
    color: #F2D0A6;
    text-align: center;
    padding: 30px 40px;
    text-decoration: wavy;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
}

.topnav a:hover {
    background-color: #a06262;
    color:#ece6e6;
}

.topnav a.active {
    background-color:#a06262;
    color:#F2D0A6;
}

.contact {
    background-color: #e69aae;
    overflow: hidden;
    margin-top: auto;
    border-radius: 2rem;
    justify-content: center;
    
}

.contact h2 {
    text-align: center;
    color: #9b2b48;
}

.contact-form-container {
    max-width: 60rem;
    margin: 4 auto;
    padding: 2rem;
    border-radius: 5px;
    justify-content:center;
    display:flex;
}

input {

    justify-content: flex;
    display:flex;
    align-items: center;
  }


  @media (max-width:480px) {

    body {
        font-size: 16px;
      }
    .row1 {
       grid-auto-flow: row;
       grid-template-columns: none;

    }

    .row2 {
        grid-auto-flow: row;
        grid-template-columns: none;

    }


    .img {
        display: flex;
        grid-gap: 1rem;
        max-width: 80%;
        height: auto;
    }

    .footer {
        display:flex;
        height: auto;
    }

    .topnav  {
        display:inline-flex;
        text-align: justify;

    }

  }